.postHeader .container {
  display: flex;
  height: 100%;
}
.postHeader .lead {
  font-size: 45px;
  align-self: flex-end;
  overflow: hidden;
}
.postText {
  padding: 30px;
}
.postText .grid {
  grid-template-columns: 3fr 1fr;
}
.categories-menu {
  display: flex;
  align-self: flex-start;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.categories-menu li {
  padding-top: 0.5rem;
  border-bottom: 1px solid gray;
}
.text {
  text-align: center;
}
.gallery {
  display: grid;
  gap: 3px;
}
.gallery img {
  width: 100%;
}
.church {
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}
.beach {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.liverpoolpics {
}
