.postHeader .container {
  display: flex;
  height: 100%;
}
.postHeader .lead {
  font-size: 45px;
  align-self: flex-end;
  overflow: hidden;
}
.postText {
  padding: 30px;
}
.postText .grid {
  grid-template-columns: 3fr 1fr;
}
.categories-menu {
  display: flex;
  align-self: flex-start;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.categories-menu li {
  padding-top: 0.5rem;
  border-bottom: 1px solid gray;
}
.text {
  text-align: center;
}
.gallery {
  display: grid;
  gap: 3px;
}
.gallery img {
  border-radius: 5px;
}
.nearSea img {
  border-radius: 5px;
}
.beatles img {
  border-radius: 5px;
}
#church {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
#church img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.beach {
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.beach img {
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
}
#liverpoolpics {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
}
#liverpoolpics img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.g {
  grid-column: 1 / 3;
}
